<!DOCTYPE html>
{{ if gt (len .Site.Data.testimonials) 0 }}
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">
        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        {{ range .Site.Data.products }}
                            <div class="col-sm-4">
                                <a class="product-link" id="product-{{ .weight }}" onclick="$('[id^=product-desc-]').hide(); $('#product-desc-{{.weight}}').show()">
                            <div class="product-single">
                                <div class="product-nav-img">
                                        <img src="{{ .img }}"></img>
                                </div>
                                <div class="overlay-sq">Learn more</div>
                                <div class="product-name">
                                    {{ .name }}
                                </div>
                            </div>
                                </a>
                            </div>
                        {{ end }}
                    </div>
                    <div class="col-md-12">
                        <div class="product-container">
                            {{ range .Site.Data.products }}
                            <div class="product-desc" id="product-desc-{{ .weight }}">
                                <div class="heading">
                                    <h2> {{ .name }} </h2>
                                </div>
                                <p>{{ .text | markdownify }}</p>
                            </div>
                            {{ end }}
                        </div>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
{{ end }}
